*{
    padding: 0;
    margin: 0;
    @import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}
   @mixin card {
       &:hover{
           background-color:blueviolet;
           transition: ease all 1s;
       }

   }
.card{
    width: 100%;
    height: 650px;
    background-image: url(images/denys-nevozhai-guNIjIuUcgY-unsplash.jpg);
    background-position: center;
    background-size: cover;
    nav{
        width: 100%;
        height: 50px;
        background-color: rgba(0, 0, 0, 0.253);
        color: white;
        display: flex;
        align-items: center;
        padding: 0 5%;
        justify-content: flex-end;
        
        
        
    
        ul{
            width: 30%;
            display: flex;
            list-style: none;
            justify-content: space-between;
            padding: 10px;
            li{
                
                a{
                   
                    border-radius: 15px;
                    text-decoration: none;
                    padding: 5px;
                    color: white;
                    @include card();
                }
            }
        }
    }
    .con{
        width: 100%;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        margin:30px 0px;
        color: white;
        .slow{
            position: absolute;
            left: 200px;
            top: 60px;
            text-shadow: 0px 5px 10px white;
            h1{
                font-size: 70px;
                color: black;
            }
            p{
                color: rgb(0, 0, 0);
                font-weight: bold;
            }
        }
        .box{
            width: 600px;
            height: 300px;
            border: 1px solid rgba(0, 0, 0, 0.349);
            background-color: rgba(0, 0, 0, 0.404);
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin-top: 150px;
            line-height: 40px;
            p{
                text-align: center;
                line-height: 20px;
            }
        }
    }
}
.posts{
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: darken($color: #363636, $amount: 0);
    .latests{
        margin-bottom: 50px;
        text-align: center;
        color: rgb(233, 233, 233);
        line-height: 35px;
    }
    .box{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-bottom: 30px;
        background-color: darkgoldenrod;
        .con{   
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            width: 250px;
            height: 200px;
            position: relative;
            color: black;
            h1{
                position: absolute;
                bottom: -18px;
                
            }
            p{
                position: absolute;
                bottom: -40px;
            }
            
        }
    }
    img{
        box-shadow: 0px 0px 50px 10px black;
        width: 250px;
        height: 360px;
    }
}